<div class="card">
  <div class="card-body">
    <ngx-loading [show]="loading"></ngx-loading>
    <div *ngIf="student">
      <h4 class="card-title">{{ student.lastName }} {{ student.firstName }}</h4>
      <p><b>Broj indeksa:</b> {{ student.number }}/{{ student.year }}</p>
      <p><b>Smer:</b> {{ student.studyField }}</p>
      <p><b>Broj ESPB:</b> {{ student.espb }}</p>
      <p><b>Email:</b> {{ student.email }}</p>
      <p><b>Broj telefona:</b> {{ student.phoneNumber }}</p>
      <p><b>Mesto rođenja:</b> {{ student.birthPlace }}</p>
      <p><b>Mesto stanovanja:</b> {{ student.livingPlace }}</p>
      <p><b>Adresa:</b> {{ student.adress }}</p>

      <button type="button" class="btn btn-primary" style="margin-right: 5px;" (click)="onEdit()">Izmeni</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Obriši</button>
    </div>
  </div>
</div>

<ng-template #confirmDialog let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">Potvrda brisanja studenta</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Da li ste sigurni da želite da obrišete studenta
      {{ student.lastName }} {{ student.firstName}} {{ student.number }}/{{ student.year }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="close(true)">Da</button>
    <button type="button" class="btn btn-outline-secondary" (click)="close(false)">Ne</button>
  </div>
</ng-template>

